<mat-card class="card card-container">
  <img  src="../../assets/user-simple.png" class="profile-img-card" />

  <form *ngIf="!(signedIn | async)" [formGroup]="signInForm" (ngSubmit)="signInForm.valid && onSubmit()" novalidate>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Enter you username." type="text" required formControlName="username">
        <mat-error *ngIf="username?.invalid">{{getUsernameErrorMessage()}} </mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Enter your password." [type]="hidePassword ? 'password' : 'text'" required
          formControlName="password">
        <button mat-icon-button type="button" matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error></mat-error>
        </button>
        <mat-error *ngIf="password?.invalid">{{getPasswordErrorMessage()}} </mat-error>
      </mat-form-field>
    </p>

    <button type="submit" mat-button class="sign-in-button">Sign In</button>
    <br>
    <br>
    <div class="nav-item" [routerLinkActive]="['link-active']">
      <p>New to JustBidIt? &nbsp; <a [routerLink]="['/sign-up']">Sign Up</a> </p>
    </div>


    <div class="form-group">
      <div class="alert alert-danger" role="alert" *ngIf="signInFailed">
        Login failed: {{errorMessage}}
      </div>

    </div>

  </form>

  <div class="alert alert-success" *ngIf="signedIn | async">
    Welcome back {{ authUsername | async }}.
  </div>

</mat-card>