<h1>JWT Authentication - Secure Implementation</h1>
<p>A single-page application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a
      href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for
    client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap </a> and <a href="https://material.angular.io">Angular Material</a>
    for layout and styling</li>
</ul>
<p>This application demonstrates the proper usage of Json Web Tokens for Authentication and Authorization.
  More specifically it implements :</p>
<ul>
  <li><strong>Refresh and Access Token Authentication</strong> instead of a single JWT, following Standards like refresh
    token rotation.</li>
  <li><strong>Access Token "Revocation" </strong> via a blacklist with the help of Redis Cache.</li>
  <li><strong>Frontend secure token storage</strong> in memory of service worker to make them inaccessible from XSS
    attacks.</li>
</ul>