<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #userSidenav>

        <br>
        <br>
        <img src="../../assets/account.png" class="profile-img-card" />
        <br>
        <br>
        <span class="welcome-text">{{"Welcome back " + (username$ | async) + "!"}} </span>
        <hr/>
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/fetch-data']"> FetchData </a>
        </mat-nav-list>
       
    </mat-sidenav>
    <mat-sidenav-content>
        <app-user-nav-menu></app-user-nav-menu>
        <app-user-landing-page></app-user-landing-page>
    </mat-sidenav-content>
</mat-sidenav-container>